html, body {
    margin: 0;
    padding: 0;
}

body {
    transition: opacity 0.5s ease-in-out;
}

body.loading {
    opacity: 0;
}

:root {
    --primary: #d3d6db;
    --secondary: #3a4750;
    --terciary: #303841;
    --red: #cd1616;
}


.content {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url("imagens/black_and_white.jpg");
    background-size: contain;
}

.content>header {
    display: flex;
    justify-content: end;
    margin-right: 5vw;
}

.content>header>section{
    padding-left: 5vw;
}

.content>header>section>ul {
    height: 5vh;
    display: flex;
    width: 100%;
    justify-content: center;
}

h1 {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.button {
    display: inline-block;
    margin: 10px;
    color: white;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 16px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    z-index: 1;
    text-decoration: none;
}

.button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: white;
    transition: 1s ease;
}

.button::before {
    top: -1em;
    left: -1em;
}

.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
}

.button:hover {
    color: black;
    transform: scale(1.1);
}

.button:hover a {
    color: white;
}


.titulo{
    color: white;
    text-transform: uppercase;
    opacity: 0.7;
}

.container {
    width: 90vw;
    height: 80vh;
    margin: 10vh 0 0 5vw;
    border-radius: 0 100px 0 100px;
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 0.104);
    backdrop-filter: blur(2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
}
