@import url('../../styles.css');

html,
body {
    margin: 0;
    padding: 0;
}

.cards {
    margin-top: 20px;
}

.card {
    background-color: lightgray;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 70%;
    position: absolute;
    height: 100px;
    text-align: left;
    color: black;
    margin: 25px 0 0 100px;
    animation: move-right 1.5s ease-in-out forwards;
}

.card p {
    margin: 0 0 10px;
}

.foto {
    width: 200px;
    height: 200px;
    margin-left: 100px;
    border: 1px solid white;
    border-radius: 50%;
}